{% extends 'blog_layout.html' %}
{% load bootstrap3 %}

<!-- blog/templates/list_posts.html -->
{% block page_title %} 글 작성 {% endblock %}


{% block content %}
	<form method="POST" action="">
		{% csrf_token %}
		<p>


            <select name="category">
            {% for category in categories %}
            <option value="{{ category.pk }}">{{ category.name }}</option>
            {% endfor %}
            </select>


		</p>

		<p>
		<label for="id_title"> 글 제목 </label>
		<input type="text" name="title" id = "id_title"/>
		</p>

		<p>
		<textarea name="content"></textarea>
		</p>

		<p>
		<button type = "submit">저장</button>
		</p>
	</form>
{% endblock %}


