{% extends 'blog_layout.html' %}
{% load bootstrap3 %}

{% block page_title %} {{post.pk}} 번째 글 삭제 확인 : {{post.title}}{% endblock %}

{% block content %}
		
	<form method="POST" action ="">
		{% csrf_token %}
		
		<h3> 글 제목 : {{post.title}} </a></h3>

		<div class = 'post_content'>
			글 내용 : 
			<p>
				{{post.contents}}
			</p>

		</div>

		<div>
			<p> 글 갈래 : {{post.category.name}}</p>
			<p> 작성일시 : {{post.created_at}}</p>
		</div>	

		<p>
			정말로 지우시겠습니까?
		</p>
		<p>
			<button type="submit">삭제</button>
		</p>
	</form>

{% endblock %}
