{% extends 'blog_layout.html' %}
{% load bootstrap3 %}

<!-- blog/templates/list_posts.html -->
{% block page_title %} 글 LIST  {% endblock %}


{% block content %}

		{% for post in posts %}

		<div class = 'post_container'>
			<h3><a href="{% url 'view_post' pk=post.pk %}">{{ post.title }}</a></h3>

			<div class = 'post_content'>
				{{post.contents}}
			</div>

			<div>
				<p> 글 갈래 : {{post.category.name}}</p>
				<p> 작성일시 : {{post.created_at}}</p>
				<p> 댓글 수 : {{post.comment_set.count}} </p>
			</div>

		</div>
		{% empty %}
		<p> 글이 전혀 없습니다. </p>

		{% endfor %}

		{% bootstrap_pagination posts %}
{% endblock %}